{% extends 'base.html' %}

{% block title %}
<title>удаления устройства</title>
{% endblock %}

{% block content %}
    <h2>Удалить устройство</h2>
    <ul>
        {% for device in devices %}
            <li>
                {% if device.image_filename %}
                    <img src="{{ url_for('static', filename='img/' + device.image_filename) }}" alt="{{ device.name }}" class="device-img">
                {% endif %}
                {{ device.name }} - <a href="/delete_device/{{ device.id }}">Удалить</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
